:root {
  --primary-bg-color: rgba(180,208,231,255);
  --bg-button-color: rgba(0,97,255,255);
  --primary-spacing: 70px;
  --font-size-primary: 16px;
  --light-border-color: rgba(236,236,237,255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
  gap: 44px;
}

button {
  color: white;
  background-color: var(--bg-button-color);
  border: none;
}

nav button {
  padding: 7px 14px;
}

.hero-section {
  width: 100%;
  background-color: var(--primary-bg-color);
}

.hero-section > div {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: var(--primary-spacing) 0;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  font-size: 84px;    /* 7rem */
  padding-bottom: 56px;
}

#left-hero-section-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  margin-bottom: calc(var(--primary-spacing) * -1);
}

#left-hero-section-container span,
#left-hero-section-container button,
#cancel-subscription {
  font-size: var(--font-size-primary);
  line-height: 24px;
}

#left-hero-section-container span {
  padding-right: 38px;
}

#left-hero-section-container button {
  margin: 0;
  padding: 10px 25px;
}

#left-hero-section-container a {
  text-decoration: none;
  color: black;
}

#left-hero-section-container span:last-of-type {
  padding-top: 36px;
}

#header-scroll {
  font-size: 48px;      /* da provare con position absolute */
}

#right-hero-section-container {
  width: 800px;
}

#right-hero-section-container img {
  width: 100%;
  object-fit: cover;
  margin-bottom: -150px;
}

                                    /* inizio main */

h2 {
  font-size: 42px;
}

main > div {
  width: 100%;
}

.slim-main-container {
  max-width: 980px;
  margin: calc(var(--primary-spacing) * 2) auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

#business-plan-title {
  flex-basis: 100%;
}

.slim-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
  gap: 40px;
  border: 1px solid var(--light-border-color);
  flex-basis: 0;
  flex-grow: 1;
}

.slim-col > span {
  border-bottom: .5px solid var(--light-border-color);
  padding-bottom: 10px;
  margin: auto -25px;
  text-align: center;
}

.slim-col div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  font-size: 28px;
}